## Python has a handful of useful sequence functions that you should familiarize 
## yourself with and use at any opportunity.

## enumerate

In [6]:
# It’s common when iterating over a sequence
# to want to keep track of the index of the current item.
# A do-it-yourself approach would look like:

i=0
collection = range(10, 20)
for value in collection:
    # do something with value
    i+=1

In [10]:
# Since this is so common, Python has a built-in function, enumerate, which returns a
# sequence of (i, value) tuples:
for i, value in enumerate(collection):
    # do something with value
    pass

In [12]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i,v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

## sorted 
#### The sorted function returns a new sorted list from the elements of any sequence:

In [15]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [17]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

## zip
#### zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples:

In [20]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [23]:
# zip can take an arbitrary number of sequences,
# and the number of elements it pro‐ duces is determined by the shortest sequence
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

## reversed
#### reversed iterates over the elements of a sequence in reverse order

In [58]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## dict
#### dict is likely the most important built-in Python data structure. A more common name for it is hash map or associative array.
#### It is a flexibly sized collection of key-value pairs, where key and value are Python objects.
#### One approach for creating one is to use curly braces {} and colons to separate keys and values

In [27]:
empty_dict = {}

In [29]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [30]:
# You can access, insert, or set elements
# using the same syntax as for accessing elements of a list or tuple.

In [32]:
d1[7] = 'an integer' # Insertion
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [33]:
d1['b'] # Accessing

[1, 2, 3, 4]

In [34]:
# You can check if a dict contains a key using the same syntax
# used for checking whether a list or tuple contains a value.
'b' in d1

True

In [35]:
# You can delete values either using the del keyword
# or the pop method (which simul‐ taneously returns the value and deletes the key):

d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [36]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [37]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [38]:
ret = d1.pop('dummy')
ret

'another value'

In [39]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [40]:
# The keys and values method give you iterators of the dict’s keys and values, respectively.
list(d1.keys())

['a', 'b', 7]

In [41]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [43]:
# You can merge one dict into another using the update method:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [44]:
## Default values ##
# The dict methods get and pop can take a default value to be returned,

In [49]:
value = d1.get('e', 'Elon')
value

'Elon'

In [50]:
# The above code can be done using if - else block.
key = 'e'
if key in d1:
    value = d1[key]
else:
    value = 'Elon' #default_value

In [54]:
# With setting values, a common case is for the values in a dict to be other collections,
# like lists
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [56]:
# The code above can be done better using setdefault method
another_by_letter = {}
for word in words:
    letter = word[0]
    another_by_letter.setdefault(letter, []).append(word)
another_by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}