In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import pandas_datareader as web
import os
import pandas_datareader as pdr


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Summarizing and Computing Descriptive Statistics

pandas objects are equipped with a set of common mathematical and statistical methods.  
Most of these fall into the category of reductions or summary statistics,  
methods that extract a single value (like the sum or mean)  
from a Series or a Series of values from the rows or columns of a DataFrame.  
Compared with the similar methods found on NumPy arrays, they have built-in handling for missing data.

In [2]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=list('abcd'),
                  columns=['one', 'two'])

In [3]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

Calling DataFrameâ€™s sum method returns a Series containing column sums:

In [4]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [5]:
df.sum(axis='columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

NA values are excluded unless the entire slice (row or column in this case) is NA.  
This can be disabled with the skipna option:

In [6]:
df.mean(axis='columns', skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

Some methods, like idxmin and idxmax, return indirect statistics  
like the index value where the minimum or maximum values are attained:

In [7]:
df.idxmax()

one    b
two    d
dtype: object

In [8]:
df.idxmin()

one    d
two    b
dtype: object

In [9]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

Other methods are accumulations:

In [10]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8


Another type of method is neither a reduction nor an accumulation.  
describe is one such example, producing multiple summary statistics in one shot:

In [11]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

On non-numeric data, describe produces alternative summary statistics:

In [12]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)

In [13]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

# Correlation and Covariance

Unique Values, Value Counts, and Membership

Another class of related methods extracts information about the values contained in a one-dimensional Series.

In [15]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [16]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [17]:
uniques = obj.unique()

In [18]:
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

The unique values are not necessarily returned in sorted order, but could be sorted after the fact if needed
(uniques.sort()). Relatedly, value_counts computes a Series containing value frequencies:

In [19]:
obj.value_counts()

c    3
a    3
b    2
d    1
dtype: int64

The Series is sorted by value in descending order as a convenience.  
value_counts is also available as a top-level pandas method that can be used with any array or sequence:

In [20]:
pd.value_counts(obj.values, sort=False)

c    3
b    2
d    1
a    3
dtype: int64

isin performs a vectorized set membership check and can be useful in filtering a dataset down to a subset of values in a Series or column in a DataFrame:

In [22]:
mask = obj.isin(['c', 'd'])

In [23]:
mask

0     True
1    False
2     True
3    False
4    False
5    False
6    False
7     True
8     True
dtype: bool

In [24]:
obj[mask]

0    c
2    d
7    c
8    c
dtype: object

Related to isin is the Index.get_indexer method, which gives you an index array from an array of possibly  
non-distinct values into another array of distinct values:

In [26]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])

In [27]:
unique_vals = pd.Series(['c', 'b', 'a'])

In [28]:
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2])

In [29]:
to_match

0    c
1    a
2    b
3    b
4    c
5    a
dtype: object