In [2]:
import numpy as np

In [3]:
# Creating ndarrays

In [4]:
data1 = [6, 7.5, 8, 0, 1]
arr1 = np.array(data1)

In [5]:
arr1

array([6. , 7.5, 8. , 0. , 1. ])

In [6]:
data2 = [[1, 2, 3, 4], [5, 6, 7, 8]] # 2D list.
arr2 = np.array(data2)

In [7]:
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [8]:
arr2.ndim # Get the dimentions of the array

2

In [9]:
arr2.shape # Get the shape of the array

(2, 4)

In [10]:
arr1.dtype # Get the data type of the array elements

dtype('float64')

In [11]:
arr2.dtype

dtype('int64')

In [12]:
# Create an arry filled with zeros.
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [13]:
np.zeros((3, 6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [14]:
# Create uninitialized array
# NOTE: It’s not safe to assume that np.empty will return an array of all zeros.
# In some cases, it may return uninitialized “garbage” values.
np.empty((2, 3, 2))

array([[[-2.31584178e+077, -4.33163802e-311],
        [ 2.96439388e-323,  0.00000000e+000],
        [ 0.00000000e+000,  5.74084271e+169]],

       [[ 4.21992531e-090,  4.98499355e-037],
        [ 6.58907026e-043,  1.81655874e-052],
        [ 3.99910963e+252,  8.34402697e-309]]])

In [15]:
# arange is an array-valued version of the built-in Python range function:
np.arange(15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [16]:
# Data Types for ndarrays

In [18]:
arr1 = np.array([1, 2, 3], dtype=np.float64)
arr1

array([1., 2., 3.])

In [19]:
arr1.dtype

dtype('float64')

In [20]:
arr2 = np.array([1, 2, 3], dtype=np.int32)
arr2.dtype

dtype('int32')

In [21]:
# You can explicitly convert or cast an array from one dtype to another
# using ndarray’s astype method:
arr = np.array([1, 2, 3, 4, 5])
arr.dtype

dtype('int64')

In [22]:
float_arr = arr.astype(np.float64)

In [23]:
float_arr.dtype

dtype('float64')

In [24]:
arr = np.array([3.7, -1.2, -2.6, 0.5, 12.9, 10.1])
arr

array([ 3.7, -1.2, -2.6,  0.5, 12.9, 10.1])

In [25]:
arr.astype(np.int32)

array([ 3, -1, -2,  0, 12, 10], dtype=int32)

In [26]:
# If you have an array of strings representing numbers,
# you can use astype to convert them to numeric form:
numeric_strings = np.array(['1.25', '-9.6', '42'], dtype=np.string_)
numeric_strings

array([b'1.25', b'-9.6', b'42'], dtype='|S4')

In [27]:
numeric_strings.astype(np.float64)
# NOTE: Calling astype always creates a new array (a copy of the data), even
# if the new dtype is the same as the old dtype.

array([ 1.25, -9.6 , 42.  ])

In [29]:
numeric_strings

array([b'1.25', b'-9.6', b'42'], dtype='|S4')